@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #dbeafe;
}

::-webkit-scrollbar-thumb {
  background-color: #3f83f8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
  font-family: 'Roboto Slab', sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}

:root {
}

.triangle {
  border-style: solid;
  border-width: 0px 0px 6rem 6rem;
  border-color: transparent transparent transparent #e5e7eb;
}

@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-black dark:text-white;
  }
}
