@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.triangle {
  border-style: solid; 
  border-width: 0px 0px 90px 90px; 
  border-color: transparent transparent transparent #6b7280;
}

@layer base {
  body {
    @apply bg-white dark:bg-gray-900;
  }
}
